__pycache__/
*.py[cod]
*$py.class
*.so
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nosexy/
.nosetests/
.pytest_cache/
venv/
.venv/
env/
.env
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.swp
*.swo
not_needed/
refactor_styles.py
vendor/
Output/
